*{
    box-sizing: border-box;
}


body{
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

main {
    display: flex;
    justify-content: center;
    /*alinhamento na horizontal*/
    align-items: center; 
    /*alinhamento na vertical*/
    padding: 10px 0;
    /*30px para cima e para baixo, 0px para laterai*/
    
}
.logo {
    width: 170px;
}

.login {
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    margin: 30px;
    border-radius: 5px;
}

.login form input {
    width: 100%;
    height: 30px;
    margin: 7px 0;
    padding: 5px;
    border: 1p solid #ccc;
    border-radius: 3px;
}

.login form button {
    background-color: #0095f6;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    border: none;
}

.cta-cadastro p a {
    color: black;
    font-weight: bold;
}

/* tela de cadastro */
.cta-cadastro-2 {
    border: 1px solid #ccc;
    border-radius: 2px;
}
.termos {
    text-decoration: none;
    font-weight: bold; 
    color: black;
}

.cta-cadastro-2, .cta-cadastro {
    text-align: center;
}

/* tela principal */

.continer{
    margin: 500px 300px;
    border: 1px solid #ccc;
}
.logado, #foto-post {
    display: flex;
    justify-content: center;
    /*alinhamento na horizontal*/
    align-items: center; 
}

#foto-post {
width: 100%;
}
